/* -----------------------------Navegador Lateral----------------------------- */
ul {
    list-style: none;
}

.navegacion {
    width: 100%;
    max-height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
    justify-content: center;
}


.nav_contenedor {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav_identificador {
    width: 100%;
    height: 30px;
    font-size: .9rem;
    color: var(--color-claro);
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_identificador::after {
    content: "";
    border-top: 1px solid var(--color-claro);
    margin: 0 10px 0 10px;
    flex: 1 0 20px;
}

.nav_identificador::before {
    content: "";
    border-top: 1px solid var(--color-claro);
    margin: 0 10px 0 10px;
    width: 15px;
}

.nav_opciones {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opciones {
    color: var(--texto-principal);
    width: 90%;
    height: 40px;
    margin: 2px 0px 2px 0px;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 600;
    transition: .2s ease-in;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.selecto {
    color: var(--texto-contraste);
    background: var(--color-primario);
}

.opciones:hover {
    color: var(--color-primario);
    background-color: var(--fondo-translucido);

}

.selecto:hover {
    color: var(--texto-contraste);
    background-color: var(--color-primario);
}

.opciones_i {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* -----------------------------------------Nevegador Superior----------------------------------------- */
.contenedor_superior {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor_logo {
    grid-column: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
}

.contenedor_usuario {
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: end;
    align-items: center;
}

.logo {
    width: 50px;
    margin-left: 20px;
    grid-column: 1;
}

.nombre_negocio {
    grid-column: 2;
    color: var(--texto-principal);
}

.botones_usuario {
    position: relative;
    grid-column: 1;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info_usuario {
    position: relative;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    cursor: pointer;
    margin-right: 0px;
}

.info_usuario:hover .flecha_usuario {
    color: var(--color-primario);
    text-shadow: var(--texto-sombra);
}

.img_usuario {
    position: relative;
    grid-column: 1;
    margin-right: 10px;
    color: var(--color-primario);
    width: 45px;
    height: 45px;
}

.contenedor_nombre {
    grid-column: 2;
    margin-right: 5px;
}

.flecha_usuario {
    grid-column: 3;
    margin: 0px 10px 0px 0px;
    position: relative;
    color: var(--texto-principal);
    font-size: 1rem;
    transition: .2s ease-in;
}

.rotar {
    transform: rotate(180deg);
}

.boton_usuario {
    position: relative;
    color: var(--texto-principal);
    cursor: pointer;
    transition: .2s ease-in;
    background-color: transparent;
    /* AGREGA ESTO: */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: 0.2s ease-in;
}

.asistente {
    color: var(--color-primario);
}

.icon_boton_usuario {
    width: 25px;
    height: 25px;
}

.boton_usuario:hover {
    color: var(--color-primario);
    background-color: var(--fondo-translucido);
}

.nombre_usuario {
    font-size: 1rem;
    color: var(--texto-principal);
}

.tipo_usuario {
    font-size: .8rem;
    color: var(--texto-principal);
}

.menu_superior {
    position: absolute;
    background: var(--fondo-principal);
    width: 200px;
    height: auto;
    padding: 5px 5px;
    top: 60px;
    right: 0px;
    border-radius: 0px 0px 10px 10px;
    z-index: 1000;
    /*box-shadow: 0px 5px 8px 0px rgba(62, 62, 62, 0.5);*/
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.nav_opciones_superior {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav_contenedor_superior {
    grid-column: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_opciones_superior {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav_opciones_superior .opciones {
    margin: 5px 0px 5px 0px;
}



/* ------------------------------------Notificaciones------------------------------------ */

.contenedor_notificaciones {
    position: absolute;
    width: 350px;
    height: auto;
    min-height: 150px;
    background: var(--fondo-principal);
    top: 60px;
    border-radius: 0px 0px 10px 10px;
    z-index: 1000;
    /*  box-shadow: 0px 5px 8px 0px rgba(62, 62, 62, 0.50); */
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.encabezado_notificaciones {
    display: flex;
    justify-content: start;
    height: 50px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-claro);
}

.encabezado_notificaciones h1 {
    font-size: 1.1rem;
    color: var(--texto-principal);
    margin-left: 15px;
}

.lista_noti {
    list-style: none;
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}

.item_noti {
    width: 100%;
    height: auto;
    min-height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: background 0.2s;
    cursor: pointer;
}

.item_noti:hover {
    background-color: var(--fondo-translucido);
}

.noti_contenido .noti_mensaje {
    font-size: 0.9rem;
    color: var(--texto-principal);
    margin-bottom: 4px;
}

.noti_contenido .noti_tiempo {
    font-size: 0.75rem;
    color: var(--texto-principal);
}


/* Tamaños de los iconos de Lucide */
.icon_noti_titulo {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    color: var(--color-primario);
}

.icon_noti_info,
.icon_noti_success {
    width: 18px;
    height: 18px;
    color: var(--color-primario);
}

.noti_icono_estado {
    background-color: var(--fondo-translucido);
    padding: 10px;
    margin:0px 10px 0px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver_todas_notificaciones{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
    border-top: 1px solid var(--color-claro) ;

}
.ver_todas_notificaciones a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primario);
}

.ver_todas_notificaciones:hover{
    background-color: var(--fondo-translucido)
}