# --- Python ---
__pycache__
.py[cod]
$py.class
.env
.venv
env
venv
ENV

# --- Editores (VS Code) ---
.vscode
.history

# --- Sistema Operativo ---
Thumbs.db
desktop.ini
.DS_Store

# --- Otros ---
.log